In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../Data/alldata18-19.csv")

In [3]:
data.head()

,NAME,TEAM,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,RPM WINS,OWS,DWS,Win Shares,WS/48,OBPM,DBPM,BPM,VORP,Wins Above Replacement
0,James Harden,Houston Rockets,PG,78,36.8,36.1,10.8,24.5,44.2,4.8,...,17.72,11.4,3.8,15.2,0.254,10.5,1.1,11.7,9.9,26.73
1,Paul George,Oklahoma City Thunder,SF,77,36.9,28.0,9.2,21.0,43.8,3.8,...,3.95,7.0,4.9,11.9,0.201,4.7,0.7,5.5,5.3,14.31
2,Giannis Antetokounmpo,Milwaukee Bucks,PF,72,32.8,27.7,10.0,17.3,57.8,0.7,...,18.03,8.9,5.5,14.4,0.292,5.7,5.0,10.8,7.6,20.52
3,Joel Embiid,Philadelphia 76ers,C,64,33.7,27.5,9.1,18.7,48.4,1.2,...,6.41,4.9,3.8,8.7,0.194,2.0,2.1,4.1,3.3,8.91
4,Stephen Curry,Golden State Warriors,PG,69,33.8,27.3,9.2,19.4,47.2,5.1,...,0.73,7.2,2.5,9.7,0.199,7.7,-1.4,6.3,4.9,13.23

In [4]:
salstats = pd.DataFrame()
salstats.insert(0, "NAME", data.iloc[:, 0])
salstats.head()

                    NAME
0           James Harden
1            Paul George
2  Giannis Antetokounmpo
3            Joel Embiid
4          Stephen Curry

In [5]:
temp = (data.loc[:, "SALARY"]/data.loc[:, "Wins Above Replacement"].replace(to_replace=0.0, value=0.0001))
for row in temp:
    print(row)

# print("===========")
# temp.replace(to_replace=float('inf'), value=0.1, inplace=True)
# for row in temp:
#     print(row)

1138116.4983164982
2135618.4486373165
1177256.4814814816
2858277.21661055
2831228.571428571
2377990.4320987654
767214.1203703703
2583979.3281653747
1918908.710562414
1139601.1396011396
2545972.2722722716
2701088.552188551
509384.99025341123
1583860.4412923562
677882.3529411765
6565656.565656564
2358078.703703704
8791076.388888888
1684405.4580896685
3310668.888888889
5137032.407407407
65606400000.0
3317510.9833971905
787844.8933782267
3532536.458333333
7338964.672364673
127500000000.0
678088.1834215167
246051810000.0
3045267.489711934
2469135.8024691357
3075153.7037037034
532194.4444444444
3306444.444444444
2611210.600255428
3129333.333333333
2832244.008714597
997094.0170940171
-15720524.691358024
192001270000.0
122500000000.0
105000000000.0
2854574.9719416387
1013133.3333333333
163486.87830687832
581257.4525745257
125000000000.0
766709.2592592592
-717566.1375661375
1824484.6560846562
653594.7712418301
2040784.3137254904
-44643070.370370366
2520111.111111111
-10000277.777777778
3998316.4814814813
1736111.111111111
1458981.3559322034
3102222.222222222
357627.5462962963
111111110000.0
5502183.641975308
155000000000.0
6312399.259259258
2311225.925925926
32086300000.0
21172839.50617284
4320987.654320987
800317.9894179895
6172839.601139601
73056000000.0
-7952740.740740741
200000000000.0
4126984.1269841273
90000000000.0
378888.8888888889
6635802.469135802
2795984.143518518
59150400000.0
2668571.4285714286
1815540.9586056645
128864.81481481482
2136752.3456790117
3151275.4901960786
2977657.4074074067
451095.7671957672
-10277777.777777778
51699600000.0
-629616.1616161615
6162551.440329217
1668344.6833930702
5155338.447971781
1277380.0
6172839.50617284
447354.4973544974
7850080.864197531
1400556.4814814813
633019.7530864197
1932660.0
329542.70152505446
756340.5797101449
2081431.623931624
2235449.7354497355
1653439.1534391535
2685185.185185185
-66999581.48148148
-1598285.7142857143
9634041.666666666
6349206.34920635
938539.6825396826
1851851.8518518517
2057613.1687242796
-6431272.222222222
57037037.03703703
4027777.7777777775
3687149.7584541063
3561253.9094650205
313907.40740740736
-6648203.703703703
-1565740.7407407407
1389037.0370370368
2051282.0512820515
3988603.9886039887
-2552300.0
25268400000.0
1426851.851851852
392661.5384615385
61538460000.0
2029914.8148148146
454337.71043771034
1371742.112482853
-7654320.987654321
4013532.763532764
3316806.084656085
-11111111.11111111
474974.358974359
6122449.206349207
6065333.333333333
8336888.888888888
1337448.5596707817
1673090.9090909087
-601369.1358024691
13294212.962962963
-527516.0493827161
14197531.481481481
1515709.1503267975
22723910000.0
5228758.169934641
-2277777.7777777775
-1120445.1851851852
1261962.2222222222
1882956.7901234566
-2128074.074074074
-3049823.456790123
1144408.148148148
456148.14814814815
31291870000.0
2056563.668430335
-4012345.6790123456
-42727833.33333333
626394.5679012344
8673333.333333332
14000000.0
-3115045.3703703703
-5993777.777777777
8641975.308641974
622469.5473251028
-6054222.222222222
1196282.828282828
8166666.666666666
-5806322.222222222
592785.1851851852
-488329.62962962966
-567177.7777777778
70000000000.0
-466852.16049382713
5175925.925925925
1021703.7037037036
7407407.407407407
19527600000.0
1840143.5897435895
8002666.666666666
2675821.975308641
809505.3140096618
23456790.123456787
15449510000.0
953673.4567901234
520185.52188552177
20391174.07407407
1979407.4074074072
5602225.925925925
3081052.0282186945
203764.06035665292
1283339.2914653784
73333330000.0
70000000000.0
15449510000.0
44490000000.0
5199777.777777777
22070400000.0
15126010000.0
4629629.62962963
2511259.259259259
21188400000.0
506481.48148148146
9052048.148148147
-7297040.740740741
-2861020.3703703703
-520185.52188552177
392661.5384615385
66180937.03703703
70000000000.0
999542.9629629629
16214150000.0
-700278.2407407407
24074074.07407407
1920063.492063492
3678240.7407407407
2428268.518518518
5104600.0
8026871.428571429
5927851.851851852
-5602225.925925925
933704.3209876543
266772.66313932976
5722040.740740741
13342151.85185185
-11111111.11111111
-622469.1358024691
4905326.851851852
21663600000.0
1830864.197530864
-8000925.925925925
1058201.0582010583
3703703.7037037034
510459.99999999994
29473200000.0
-727974.074074074
567177.7777777778
3456444.444444444
-17592592.592592593
13782420000.0
406812.2685185185
8824074.074074073
-4997714.814814814
8384640000.0
26393140000.0
30769229.629629627
87409800000.0
5602225.925925925
-1020919.9999999999
1120445.1851851852
8916888.888888888
-5047777.777777777
-713959.2592592593
1701533.3333333333
2302777.7777777775
-2552300.0

In [6]:
salstats.insert(salstats.shape[1], "Salary by PER", (data.loc[:, "SALARY"]/data.loc[:, "PER"].replace(to_replace=0.0, value=0.0001)))
salstats.insert(salstats.shape[1], "Salary by WAR", (data.loc[:, "SALARY"]/data.loc[:, "Wins Above Replacement"].replace(to_replace=0.0, value=0.0001)))
salstats.insert(salstats.shape[1], "Salary by WS", (data.loc[:, "SALARY"]/data.loc[:, "Win Shares"].replace(to_replace=0.0, value=0.0001)))
salstats.insert(salstats.shape[1], "Salary by BPM", (data.loc[:, "SALARY"]/data.loc[:, "BPM"].replace(to_replace=0.0, value=0.0001)))
salstats.insert(salstats.shape[1], "Salary by RPM", (data.loc[:, "SALARY"]/data.loc[:, "RPM"].replace(to_replace=0.0, value=0.0001)))

In [7]:
# salstats = salstats.set_index("NAME", drop=True)
# sortmetric = "PER"
# salstats = salstats.sort_values(by=["Salary by "+sortmetric],ascending=True)

In [8]:
salstats

,NAME,Salary by PER,Salary by WAR,Salary by WS,Salary by BPM,Salary by RPM
0,James Harden,9.935289e+05,1.138116e+06,2.001438e+06,2.600158e+06,4.061663e+06
1,Paul George,1.310493e+06,2.135618e+06,2.568126e+06,5.556491e+06,1.797688e+07
2,Giannis Antetokounmpo,7.805268e+05,1.177256e+06,1.677590e+06,2.236787e+06,2.345369e+06
3,Joel Embiid,9.716616e+05,2.858277e+06,2.927270e+06,6.211524e+06,6.684318e+06
4,Stephen Curry,1.531990e+06,2.831229e+06,3.861562e+06,5.945580e+06,7.935838e+06
...,...,...,...,...,...,...
253,Patrick Patterson,6.697297e+05,-5.047778e+06,4.956000e+06,-1.473405e+06,1.068941e+07
254,Tyrone Wallace,1.908604e+05,-7.139593e+05,-4.497943e+06,-2.141878e+05,-3.758727e+05
255,Jordan Bell,1.065102e+05,1.701533e+06,8.614012e+05,-3.445605e+06,-8.107306e+05
256,Dante Cunningham,2.435847e+05,2.302778e+06,1.308947e+06,-2.487000e+07,-7.747664e+05
257,Sindarius Thornwell,2.640310e+05,-2.552300e+06,1.378242e+10,-3.445605e+05,-7.572758e+05

In [9]:
# per_sal = per_sal.sort_values(by=["Salary by PER"],ascending=True)
# per_sal.head()

In [10]:
# war_sal = pd.DataFrame()
# war_sal.insert(0, "NAME", data.iloc[:, 0])
# war_sal.insert(1, "Salary by WAR", (data.loc[:, "SALARY"]/data.loc[:, "Wins Above Replacement"]))
# war_sal = war_sal.set_index("NAME", drop=True)
# war_sal.head()

In [11]:
# salstats.insert(2, "Salary by WAR", (data.loc[:, "SALARY"]/data.loc[:, "Wins Above Replacement"]))

In [12]:
# (data.loc[:, "SALARY"]/data.loc[:, "Wins Above Replacement"])

In [13]:
# war_sal = war_sal.sort_values(by=["Salary by WAR"],ascending=True)

# for i in range(salstats.shape[0]):
#     print(salstats.iloc[i, :])

In [14]:
# ws_sal = pd.DataFrame()
# ws_sal.insert(0, "NAME", data.iloc[:, 0])
# ws_sal.insert(1, "Salary by WS", (data.loc[:, "SALARY"]/data.loc[:, "Win Shares"]))
# ws_sal = ws_sal.set_index("NAME", drop=True)
# ws_sal.head()

In [15]:
# ws_sal = ws_sal.sort_values(by=["Salary by WS"],ascending=True)
# ws_sal.head()

In [16]:
# for i in range(ws_sal.shape[0]):
#     print(ws_sal.iloc[i, :])

In [17]:
# bpm_sal = pd.DataFrame()
# bpm_sal.insert(0, "NAME", data.iloc[:, 0])
# bpm_sal.insert(1, "Salary by BPM", (data.loc[:, "SALARY"]/data.loc[:, "BPM"]))
# bpm_sal = bpm_sal.set_index("NAME", drop=True)
# bpm_sal.head()

In [18]:
# bpm_sal = bpm_sal.sort_values(by=["Salary by BPM"],ascending=True)

# for i in range(bpm_sal.shape[0]):
#     print(bpm_sal.iloc[i, :])

In [19]:
# rpm_sal = pd.DataFrame()
# rpm_sal.insert(0, "NAME", data.iloc[:, 0])
# rpm_sal.insert(1, "Salary by RPM", (data.loc[:, "SALARY"]/data.loc[:, "RPM"]))
# rpm_sal = rpm_sal.set_index("NAME", drop=True)
# rpm_sal.head()

In [20]:
# rpm_sal = rpm_sal.sort_values(by=["Salary by RPM"],ascending=True)

# for i in range(rpm_sal.shape[0]):
#     print(rpm_sal.iloc[i, :])

In [21]:
# def bubblesort(df, column):
#     for j in range(df.shape[0]):
#         for i in range(df.shape[0]-1):
#             row1 = df.iloc[i, :]
#             row2 = df.iloc[i+1, :]
#             if row1[column] <= row2[column]:
#                 df.iloc[i+1, :] = row1
#                 df.iloc[i, :] = row2

In [22]:
salstats.to_csv("../Data/salarystats.csv", index=False, sep=',', encoding='utf-8')